.venv/
.venv

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

.env

# Terraform state files
*.tfstate
*.tfstate.backup
# Terraform variables files
*.tfvars
*.tfvars.json
*.terraform
*.terraform.lock.hcl
